.form_field .field_error{
 padding:0.5rem 0.25rem;
 padding-right: 0;
 font-size: 0.8rem;
 color: darkred;
}

button{
    margin:0.5rem;
    padding:0.5rem;
    background-color: #000;
    color:#fff;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 0.25rem;
    border-width: thin;
    border-style: solid;
    border-color: #000;
    cursor: pointer;
}

button.button_primary{
    padding:0.75rem;
    background-color: darkgreen;
}

button.button_secondary{
    padding:0.75rem;
    background-color: darkorange;
    color:#000;
}

button.pill{
    border-radius: 50%;
}